* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    min-height: 100vh;
    padding: 2% 4%;
}

.intro {
    font-weight: bold;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.title {
    font-size: 20px;
}

.pp-inner-circle {
    width: 145px;
    height: 145px;
    color: black;
    background-color: rgb(245, 244, 244);
    border-radius: 100px;
    position: absolute;
}

.pp-outer-circle {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(245, 244, 244);
    color: black;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp-placeholder-image {
    z-index: 1;
    color: rgba(207, 205, 205, 0.692);
    font-weight: bold;
}

.row {
    margin: 2% 0%;
}

.row1 {
    display: flex;
    align-items: center;
    justify-items: center;
    /* margin: 2% 4%; */
}

.intro-container {
    margin-left: 2vw;
    text-align: left;
}

.row3 {
    display: flex;
    justify-content: space-between;
}

.box {
    border: 1px solid;
    /* display: inline-block; */
    padding: 10px;
    height: 25vh;
    vertical-align: middle;
    width: 45%;
}

/* Style for the box */
.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0px;
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  /* Style for the heading */
  .box h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* Style for the subheading */
  .box h2 {
    font-size: 18px;
    color: #888;
    margin-bottom: 15px;
  }

  /* Style for the horizontal list */
  .box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  /* Style for the list items (chips) */
  .box li {
    background-color: #428bca;
    color: white;
    border: 1px solid #357ebd;
    padding: 8px;
    margin: 2px;
    border-radius: 4px;
  }

  #projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }